<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>02fd6d09b70593110d5168fd2f936403abcd161002b3dccc8b15fe34dda53c28</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>73756b716b27a307bb70b23949239292ab93990ba9cbaca98015b32c32e90afb</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>dd7048323baf5fbd3b2cfbc3c0dca1dcacb7f67d6edc7c4ac9fa27e66362ac8a</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>37fa8fe5df10caade4e64eee16972a10854e6f880741ca6814d98668fd3f690a</string>
	<key>DEVELOPMENT</key>
	<false/>
	<key>RESOURCE_BUNDLE</key>
	<string>DefaultTheme.bundle</string>
	<key>OPTIONS</key>
	<dict>
		<key>APP_RUNS_ON_BACKGROUND</key>
		<false/>
		<key>IMAGES_SHARING</key>
		<true/>
		<key>BACKGROUND_COLOR</key>
		<string>FFFFFF</string>
		<key>TOOLBAR_COLOR</key>
		<string>FFFFFF</string>
		<key>NAVBAR_COLOR</key>
		<string>FFFFFF</string>
		<key>ACTIVITY_INDICATOR_COLOR</key>
		<string>000000</string>
		<key>TITLE_COLOR</key>
		<string>000000</string>
		<key>BUTTONS_TEXT_COLOR</key>
		<string>000000</string>
		<key>TEXTFIELD_TEXT_COLOR</key>
		<string>000000</string>
		<key>TEXTFIELD_BACKGROUND_COLOR</key>
		<string>E5E5EA</string>
	</dict>
</dict>
</plist>
